@font-face{
    font-family:Yellowtail;
    src: url(Yellowtail.ttf);
}

@font-face{
    font-family: Raleway;
    src: url(Raleway.ttf);
    font-family: RalewayBold;
    src: url(static/Raleway-Bold.ttf);
    font-family: RalewaySBold;
    src: url(static/Raleway-SemiBold.ttf);
}

@font-face{
    font-family: Poiret One;
    src: url(PoiretOne-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(Montserrat.tt<);
    font-family: Montserrat Italica;
    src: url(Montserrat-Italic.ttf);
}